<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/connectFour.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY Arcade</title>
</head>

<body>
    <%- include ('partials/_header.ejs') %>

    <div id="connectContainer">
        <canvas id="connectCanvas" width="800" height="500"></canvas>
    </div>

</body>

<script src="./public/logic/headerLogic.js"></script>
<script src="./public/logic/connectFourLogic.js"></script>

</html>
