<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/connectFour.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY Arcade</title>
</head>

<body>
    <div id="headContainer">
        <a><img src="/public/images/mify.png" id="logo"></a>
    </div>
    <div id="arcadeHeader">
        <div id="myLinks">
            <a href="froggerP">Frogger</a>
            <a href="pong">Pong</a>
            <a href="sidescroll">SideScroller</a>
            <a href="connectfour">ConnectFour</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerFunction()">
            <i class="fa fa-bars" style="color:#80ced6"></i>
        </a>
    </div>

    <div id="connectContainer">
        <canvas id="connectCanvas" width="800" height="500"></canvas>
    </div>


</body>

<script >
    function hamburgerFunction () {
    var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }
</script>

<script>
    var canvas;
    var c;

    var chipX;
    var chipY;
    
    var currentPalyer = "one";
    var chipColour = "red";

    var chipSpeed = 100;


    function calculateMousePos(evt){      // an event fires when mouse moves
        var rect = canvas.getBoundingClientRect();
        var root = document.documentElement;
        var mouseX = evt.clientX - rect.left - root.scrollLeft;
        var mouseY = evt.clientY - rect.top - root.scrollTop;
        return {
            x:mouseX,   // Object Literal
            y:mouseY    // Object Literal
        };
    }

    function handleMouseClick(evt){
        if(currentPlayer = "one") {
            for ( y = 0; y <= 400; y ++) {
            c.fillStyle = "red";
            c.beginPath();
            c.arc(chipX,chipY + ((chipSpeed * y) / 30),40,0,Math.PI*2,true);
            c.fill();
            }
        }
    }

    window.onload = function() {
        canvas = document.getElementById('connectCanvas');
        c = canvas.getContext('2d');

        var framesPerSecond = 30;

        setInterval(function() {
            drawEverything();
        },1000/framesPerSecond);

        canvas.addEventListener ('mousedown', handleMouseClick);

        canvas.addEventListener ('mousemove',   // keypress, mouseclick, mousemove
            function(evt) {
            var mousePos = calculateMousePos(evt);
            chipX = mousePos.x;
            chipY = mousePos.y;
        });
    }

    function drawEverything() {
        c.fillStyle = '#80ced6';
        c.fillRect(0,0,canvas.width,canvas.height);
        c.fill();

        drawChip ();
    }

    function drawChip () {

        if (chipX <= 100) {
            chipX = 100;
        }
        if (chipX >= 700) {
            chipX = 700;
        }
        if (chipY <= 60) {
            chipY = 60;
        }
        if (chipY >= 400) {
            chipY = 400;
        }

        console.log("drawingchip " + chipColour);
        c.fillStyle = "red";
        c.beginPath();
        c.arc(chipX,chipY,40,0,Math.PI*2,true);
        c.fill();
    }

</script>

</html>
