<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/assets/froggerPStyles.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY Frogger P</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
</body>

<script src="./public/logic/headerLogic.js"></script>
</html>
