<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/assets/froggerPStyles.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY Frogger P</title>
</head>
<body>
    <div id="headContainer">
        <a href="index"><img src="/public/images/mify.png" id="logo"></a>
    </div>
        <div id="arcadeHeader">
            <div id="myLinks">
                <a href="index">Home</a>
                <a href="pong">Pong</a>
                <a href="sidescroll">SideScroller</a>
                <a href="connectfour">ConnectFour</a>
                <a href="tileBased">TileBased</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="hamburgerFunction()">
                <i class="fa fa-bars" style="color:#80ced6"></i>
            </a>
        </div>
</body>

<script >
    function hamburgerFunction () {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
}
</script>
</html>
