<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/froggerPStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY Frogger P</title>
</head>
<body>
    <div id="arcadeHeader">
        <div id="myLinks">
            <a href="./views/froggerP.html">FroggerP</a>
            <a href="../index.html">Home</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>

</body>
</html>
