<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/assets/tetris.css" type="text/css" />
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MIFY tetris</title>
</head>
<body>
  <%- include ('partials/_header.ejs') %>
        <div id="tetrisContainer">
            <div id="score">0</div>
            <canvas id="tetrisCanvas" width="300" height="600" autofocus></canvas>
        </div>
</body>
<script src="./public/logic/headerLogic.js"></script>
<script src="./public/logic/tetrisLogic.js"></script>
</html>
