<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tile Based</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    
    <script src="./public/logic/headerLogic.js"></script>
    <script src="./public/logic/tileBased.js"></script>
</body>
</html>