#pongContainer{
    text-align:center;
    margin: 20px auto;
    background-color: red;
    border-radius:25px;
    width:900px;
    height:700px;
}

#pongCanvas{
    display:inline-block;
    border-radius:25px;
    margin-top: 10px;
}